body{
    margin:0;
    padding: 0;
    background: #f2f6e9;
   
}
.navbar-brand,.nav-link{
    cursor: pointer;
    color: #000;
    font-weight: bold;
    font-size: 20px;
   
}
.navbar{
    background-color:#1e5302;
}
.nav-link:hover{
    color:white;
}
.navbar-collapse{
    justify-content:flex-end;
}
.nav-link{
    margin-right: 2em !important;
    color: #000;
    font-weight: bold;
    font-size: 20px;
}
.header{
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;

}
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}
.description{
    left:50%;
    text-align: center;
    top: 45%;
    position: absolute;
    transform: translate(-50%, -55%);
   
}
.description h1{
    color:#1e5302;
}
.description p{
    font-size: 1.3rem;
    color:#fff;
    line-height: 1.5;
}
.description button{
    background-color: #1e5302;
    color:#fff;
    border-radius:0%;
    border:#1e5302;
}
.description button:hover{
    border:1px solid #fff;
    background:#fff;
    color:#000;
}
.features{
    margin: 5em auto;
    padding: 1em;

}
.feature-title{
    color:#333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.features img{
    width:300px;
    height: 200px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
.features .form-control, .features input{
    border-radius: 0%;
}
.features .btn{
    background-color: #1e5302;
    border: 1px solid #1e5302;
    color: #fff;
    margin-top: 20px;
}
.features .btn:hover{
    border: 1px solid #333;
    background-color: #333;
}
.background{
    background-color:  #dedec8;
    padding: 4em 0;
}
.team{
    color:#5e5e55;
    padding:0 180px;
}
.team .card{
    background: none;
    border: none;
    margin: 0;
}
.team .card-title{
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 0;
}
.team .card-columns {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
}
.page-footer{
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}
.footer-copyright{
    color:#666;
    padding: 40px 0;
}
@media (max-width: 575.98px) {
    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }
    .description h1 {
        font-size: 2em;
    }
    .description p{
        font-size: 1.2rem;
    }
    .featues{
        margin: 0;
    }
}
